body, html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	/*padding-bottom: 70px;*/
	/*padding-top: 70px;*/
	font-family: 'Quicksand';
	font-weight: 400;
}

.navbar {
	height: 10%;
}

.navbar-brand {
	font-weight: 700;
	font-size: 2rem;
	color: teal !important;
	border-bottom: 3px solid teal;
}

.navbar-dark .navbar-nav .nav-link {
	font-size: 1.3rem;
	line-height: 3rem;
	color: teal !important;
	border-bottom: 1px solid teal;
}

.navbar-toggler {
	color: teal;
	float: right;
	line-height: 3rem;
}

.bg-primary {
	background-color: white !important;
}

.thumbnail p {
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0.2rem;
}

.thumbnail image {
	padding-left: 2rem;
}

.discount {
	color: red;
}

.fa-search {
	display: inline-block;
}

#logo {
	margin: 0.3rem;
}

#searchForm {
	width: 100%;
	height: 10%;
	margin: 1rem auto;
	padding: 1rem 3rem;
	/*border: 1px dashed red; for testing*/
}

#searchInp {
	width: 85%;
	min-width: 150px;
	line-height: 2.5rem;
	border: 1px solid teal;
}

#searchBtn {
	min-width: 50px;
	line-height: 2.5rem;
	float: left;
	position: absolute;
	border: 1px solid teal;
	background-color: teal;
}

#adImage {
	width: 100%;
	height: 72%;
	padding: 0;
	/*border: 3px solid red; for testing*/
}

#adImage img {
	width: 100%;
	height: 100%;
}

#compare {
	/*border: 3px solid teal; for testing images alignment */
	margin-bottom: 5rem;
}

#searchDisplay {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid teal;
	margin: 1rem;
	float: left;
}

#footer {
	text-align: center;
	color: teal !important;
	border-top: 1px solid teal;
	font-size: 1rem;
	/*border: 1px dashed red; for testing*/
}

#footer p {
	padding-top: 5px;
}

#main {
	/*height: 100%; as boty & html are set to 100%, this is not needed*/
	/*border: 1px dashed red; for testing*/
}

#header {
	/*border: 1px dashed red; for testing*/
}